/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    height: 100%;
}

/**
 * Unless all content has been loaded, the page is hidden. After load, it is
 * shown.
 */
html.loading {
    opacity: 0;
}

/* Legibility */
html {
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    font-variant-numeric: oldstyle-nums;
    hanging-punctuation: first last;
    font-family: 'Serif', serif;
    letter-spacing: 0.01em;
    line-height: 1.7;
    font-size: clamp(17px, 1.1vw, 20px);
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    text-wrap: pretty;
    word-spacing: 0.05em;
}
h1, h2, h3, h4, h5 { text-decoration: none; padding-bottom: 0.2em; }
h2, h3, h4, h5 { border-bottom: 2px solid var(--border-color); }
h2 { margin-top: 2.5em; margin-bottom: 0.75em; }
h3 { margin-top: 2em; margin-bottom: 0.5em; }
h4 { margin-top: 1.5em; margin-bottom: 0.5em; }
pre.src, code {
    font-size: 0.9em;
}
p {
    display: block;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
a {
    outline-color: transparent;
    text-decoration: underline;
    color: var(--link-color);
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.15em;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 96ch minmax(0, 1fr); /* 80 ch + 2*12 ch */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "c11 c12 c13"
        "c21 c22 c23";

    .c11 { grid-area: c11; }
    .c12 { grid-area: c12; }
    .c13 { grid-area: c13; }
    .c21 { grid-area: c21; }
    .c22 { grid-area: c22; }
    .c23 { grid-area: c23; }

    &.visible {
        opacity: 1;
    }
}


.top-nav {
    background-color: var(--topnav-bg-color);
    padding: 0.5em 0;
    ul {
        display: flex;
        gap: 1.5em;
        margin: 0;
        padding: 1rem 0;
        list-style: none;
        align-items: center;
        justify-content: left;
    }
    .left, .right {
        display: flex;
        gap: 1.5em;
        align-items: center;
    }
    .right {
        margin-left: auto;
    }
    .link {
        a {
            text-decoration: none;
            font-weight: normal;
            text-transform: uppercase;
            color: var(--link-color);
        }
    }
}

article, .reviewer {
    position: relative;
    height: 100%;
    font-style: normal;
    background-color: var(--article-bg-color);
    margin: 0;
    padding: 12ch;
    border-left: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
    border-top: solid 1px var(--border-color);
    border-radius: 2px;

    ul, ol {
        padding-left: 1em;
        li {
            unicode-bidi: isolate;
            margin-bottom: 1rem;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
}

.reviewer {
    .buttons {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
        button {
            margin-left: 1rem;
        }
    }
}

article > div.outline-2:first-of-type > h2 {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sans', sans-serif;
    display: block;
    font-weight: normal;
    unicode-bidi: isolate;
    margin-top: 4ch;
}

code.privacy {
    font-size: 0.80em;
    margin-left: 1ch;
    border-radius: 2px;

    &.private {
        background-color: var(--color-red-300);
    }

    &.public {
        background-color: var(--color-green-300);
    }
}

h1 {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 4em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

figure {
    text-align: center;
    margin: 2rem 0;

    img {
        border: 1px solid var(--text-color);
        border-radius: 2px
    }

    figurecaption {
        text-align: center;
    }
}

strong {
    font-weight: bold;
}

pre {
    font-family: 'Mono', monospace;
}

pre.src, code {
    font-family: 'Mono', monospace;
    color: var(--src-text-color);
}

pre.src {
    border: 1px solid var(--src-border-color);
    background-color: var(--src-bg-color);
    border-radius: 2px;
    padding: 0.5em;
    margin: 2rem 0;
    overflow-x: auto;
}

code {
    padding: 0 0.25em;
    background-color: var(--src-bg-color);
}

.todo, .done {
    font-family: 'Mono', monospace;
    font-weight: bold;
    color: var(--article-bg-color);
    font-size: 0.7em;
    padding: 0.1em 0.2em;
    border-radius: 2px;
    margin-right: 0.33em;
    text-decoration: none !important;

    &.TODO {
        background-color: var(--kw-todo-bg-color);
    }

    &.DOING {
        background-color: var(--kw-doing-bg-color);
    }

    &.DONE {
        background-color: var(--kw-done-bg-color);
    }

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

th, td {
    border: 1px solid var(--table-border-color);
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: var(--table-th-bg-color);
    font-weight: bold;
}

td.org-left {
    text-align: left;
}

nav#table-of-contents {
    margin-left: auto;
    padding-left: 0.2rem;
    padding-right: 1rem;
    width: fit-content;
    overflow-y: auto;
    max-height: 80vh;
    position: sticky;
    top: 1rem;
    ul, ol {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 1em;
        list-style-type: none;
    }

    & > h2:first-child {
        margin-top: 0;
        font-size: 1rem;
    }

    #text-table-of-contents > ul:first-child {
        padding-left: 0;
    }
}

.c23 {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}


blockquote {
    background-color: var(--src-bg-color);
    border-left: 4px solid var(--src-border-color);
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    font-style: italic;
    border-radius: 2px;
}

/* Colors */
:root {
    --article-bg-color: #fbf7f0;
    --text-color: var(--color-blue-grey-900);
    --link-color: var(--color-blue-900);
    --src-bg-color: var(--color-blue-grey-50);
    --src-border-color: var(--color-blue-grey-900);
    --src-text-color: var(--text-color);
    --kw-todo-bg-color: var(--color-red-900);
    --kw-doing-bg-color: var(--color-orange-900);
    --kw-done-bg-color: var(--color-green-900);
    --kw-text-color: var(--article-white);
    --table-th-bg-color: var(--color-blue-grey-100);
    --table-border-color: var(--color-blue-grey-900);
    --border-color: var(--color-blue-grey-900);
    --topnav-bg-color: var(--article-white);
}

.exercise {
    display: none;
}

form.discussion {
    margin: 2rem 0;
    display: none;
    flex-direction: column;
    gap: 1rem;

    .email {
        display: inherit;
        flex-direction: inherit;
    }

    .content {
        display: inherit;
        flex-direction: inherit;
        textarea {
            margin-bottom: 1rem;
        }
    }

    button {
        align-self: flex-end;
    }
}


/* Citation */
.csl-bib-body {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.csl-entry {
    text-indent:    -2.5em;
    margin-left:     2.5em;
    margin-bottom:   1.5em;
    padding-left:    0.5em;
    padding-right:   0.5em;
    position:        relative;
}

.csl-entry:not(:last-child) {
    padding-bottom: 1.3em;
    margin-bottom: 1.5em;
}

.csl-entry a:hover {
    opacity: 0.7;
}

.csl-entry {
    font-feature-settings: "liga" 1;
}

/* Abstract */
.abstract {
    max-width: 80ch;
    margin: 3em auto;
    padding: 1em;
    background-color: var(--src-bg-color);
    border: 1px solid var(--src-border-color);
    border-radius: 2px;
}

.abstract *:first-child {
    margin-top: 0;
}

.abstract *:last-child {
    margin-bottom: 0;
}
