/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/**
 * Structure of this file
 *
 * This file is structured in sections: Font, Geometry, Typography, Color, Responsive, Other.
 * Each section applies a set of constraints to the HTML elements in order to
 * maximize legibility.
 */

/**
* Font
*
* Font defines the set of available fonts: Serif, Sans and Mono.
*/
@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-sans-3-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/source-serif-4-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-600italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/00000000-0000-0000-0000-000000000000/jetbrains-mono-700italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

/**
 * Geometry
 *
 * Geometry defines various distances and constraints to be applied to the boxes
 * (see: CSS Box Model).
 */

:root {
    --distance-h1-abstract: 5rem;
}

* { box-sizing: border-box; }

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 96ch minmax(0, 1fr); /* 80 ch + 2*12 ch */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "c11 c12 c13"
        "c21 c22 c23";

    .c11 { grid-area: c11; }
    .c12 { grid-area: c12; }
    .c13 { grid-area: c13; }
    .c21 { grid-area: c21; }
    .c22 { grid-area: c22; }
    .c23 { grid-area: c23; }
}

.top-nav {
    padding: 0.5em 0;
    ul {
        display: flex;
        gap: 1.5em;
        margin: 0;
        padding: 1rem 0;
        list-style: none;
        align-items: center;
        justify-content: left;
    }
    .left, .right {
        display: flex;
        gap: 1.5em;
        align-items: center;
    }
    .right {
        margin-left: auto;
    }
    .link {
        a {
            text-decoration: none;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

article, .reviewer {
    position: relative;
    height: 100%;
    font-style: normal;
    margin: 0;
    padding: 12ch;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-radius: 2px;

    ul, ol {
        padding-left: 1em;
        li {
            unicode-bidi: isolate;
            margin-bottom: 1rem;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
}

.reviewer {
    .buttons {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
        button {
            margin-left: 1rem;
        }
    }
}

h1, h2, h3, h4, h5 {
    display: block;
    line-height: 1.2;
    margin: 2.5em 0 0.5em 0;
    padding-bottom: 0.2em;
}

h1 {
  line-height: 1.1;
  margin: 0 0 var(--distance-h1-abstract) 0;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figure {
    margin: 2rem 0;
    img { border-radius: 2px; }
}

pre.src {
    border: 1px solid;
    border-radius: 2px;
    padding: 0.5em;
    margin: 2rem 0;
    overflow-x: auto;
}

.todo, .done {
    padding: 0.1em 0.2em;
    border-radius: 2px;
    margin-right: 0.33em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

th, td {
    border: 1px solid;
    padding: 0.5em;
}

nav#table-of-contents {
    margin-left: auto;
    padding-left: 0.2rem;
    padding-right: 1rem;
    width: fit-content;
    overflow-y: auto;
    max-height: 80vh;
    position: sticky;
    top: 1rem;
    ul, ol {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 1em;
        list-style-type: none;
    }

    & > h2:first-child {
        margin-top: 0;
        font-size: 1rem;
    }

    #text-table-of-contents > ul:first-child {
        padding-left: 0;
    }
}

blockquote {
    border-left: 4px solid;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    border-radius: 2px;
}

.c23 {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.csl-bib-body {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.csl-entry {
    text-indent:    -2.5em;
    margin-left:     2.5em;
    margin-bottom:   1.5em;
    padding-left:    0.5em;
    padding-right:   0.5em;
    position:        relative;
    overflow-wrap: break-word;
    word-wrap: break-word;

    a {
        overflow-wrap: anywhere;
        word-break: break-all;
    }
}

.csl-entry:not(:last-child) {
    padding-bottom: 1.3em;
    margin-bottom: 1.5em;
}

.abstract {
    max-width: 80ch;
    margin: var(--distance-h1-abstract) auto;
    padding: 1em;
    border: 1px solid;
    border-radius: 2px;
}

.abstract *:first-child {
    margin-top: 0;
}

.abstract *:last-child {
    margin-bottom: 0;
}

/**
 * Typography
 *
 * Typography defines various constraints to be applied to the content, text and
 * images, in order to maximize legibility.
 */
html {
    font-family: 'Serif', serif;
    line-height: 1.7;
    font-size: clamp(17px, 1.1vw, 20px);
    text-rendering: optimizeLegibility;
    font-variant-numeric: oldstyle-nums;
    hanging-punctuation: first last;
    hyphens: auto;
    text-wrap: pretty;
}
h1, h2, h3, h4, h5 {
    font-family: 'Sans', sans-serif;
    font-weight: normal;
    unicode-bidi: isolate;
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
    text-align: center;
}

h2, h3, h4, h5 { border-bottom: 2px solid; }

pre.src, code { font-size: 0.9em; }

p { unicode-bidi: isolate; }

a {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.15em;
}

figure {
    text-align: center;
    figurecaption { text-align: center; }
}

strong { font-weight: bold; }

pre { font-family: 'Mono', monospace; }

pre.src, code { font-family: 'Mono', monospace; }

code { padding: 0 0.25em; }

.todo, .done {
    font-family: 'Mono', monospace;
    font-weight: bold;
    font-size: 0.7em;
    text-decoration: none !important;
}

th, td { text-align: left; }

th { font-weight: bold; }

td.org-left { text-align: left; }

blockquote { font-style: italic; }

.csl-entry a:hover { opacity: 0.7; }

/* Color */
:root {
    --article-bg-color: #fbf7f0;
    --text-color: var(--color-blue-grey-900);
    --link-color: var(--color-blue-900);
    --src-bg-color: var(--color-blue-grey-50);
    --src-border-color: var(--color-blue-grey-900);
    --src-text-color: var(--text-color);
    --kw-todo-bg-color: var(--color-red-900);
    --kw-doing-bg-color: var(--color-orange-900);
    --kw-done-bg-color: var(--color-green-900);
    --kw-text-color: var(--article-white);
    --table-th-bg-color: var(--color-blue-grey-100);
    --table-border-color: var(--color-blue-grey-900);
    --border-color: var(--color-blue-grey-900);
    --topnav-bg-color: var(--article-white);
}

html { color: var(--text-color); }

article, .reviewer {
    background-color: var(--article-bg-color);
    border-color: var(--border-color);
}

h2, h3, h4, h5 { border-color: var(--border-color); }

a {
    color: var(--link-color);
    outline-color: transparent;
}

figure {
    img {
        border-color: var(--text-color);
    }
}

pre.src, code {
    border-color: var(--src-border-color);
    background-color: var(--src-bg-color);
}

.todo, .done {
    color: var(--article-bg-color);
    &.TODO { background-color: var(--kw-todo-bg-color); }
    &.DOING { background-color: var(--kw-doing-bg-color); }
    &.DONE { background-color: var(--kw-done-bg-color); }
}

th, td { border-color: var(--table-border-color); }

th { background-color: var(--table-th-bg-color); }

blockquote {
    background-color: var(--src-bg-color);
    border-color: var(--src-border-color);
}

.abstract {
    background-color: var(--src-bg-color);
    border-color: var(--src-border-color);
}

/**
 * Responsive
 *
 * This is a collection of media queries that allows the website to adapt its layout
 * depending on screen sizes: mobile, tablet, desktop.
 */

/**
 * Tablet & mobile
 */
@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 70ch;
        margin: 0 auto;
    }

    main { flex: 1; }

    /* Hide side sidebars */
    .c11, .c13, .c21, .c23 { display: none; }

    /* Top Nav container */
    .c12 {
        background-color: var(--article-bg-color);
        padding: 0 1rem;
        width: 100%;
    }

    /* Article Container */
    article, .reviewer {
        padding: 2rem 1.5rem;
        border: none;
        border-radius: 0;
        width: 100%;
    }

    /* Stack navigation items on smaller screens */
    .top-nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
    .top-nav .right { margin-left: 0; }

    /* Hide TOC on tablet/mobile */
    nav#table-of-contents { display: none; }
}

/**
 * Small Mobile
 */
@media (max-width: 60ch) {
    article, .reviewer {
        padding: 1rem 1rem;
    }

    /* Allow header to take up more space on tiny screens */
    .top-nav ul { gap: 0.5em; }
}

/**
 * Large Desktop
 */
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    nav#table-of-contents { font-size: 1rem; }
}

/**
 * Other
 *
 * Everything else.
 */

/**
 * Unless all content has been loaded, the page is hidden. After load, it is
 * shown.
 */
html.loading { opacity: 0; }

.hidden { display: none; }
.exercise { display: none; }
form.discussion {
    margin: 2rem 0;
    display: none;
    flex-direction: column;
    gap: 1rem;

    .email {
        display: inherit;
        flex-direction: inherit;
    }

    .content {
        display: inherit;
        flex-direction: inherit;
        textarea {
            margin-bottom: 1rem;
        }
    }

    button {
        align-self: flex-end;
    }
}
