/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@media (max-width: 1100px) {
    html {
        font-size: 14px;
    }

    body {
        display: flex;
        flex-direction: column;
        max-width: 85ch;
        margin: auto;
    }

    main {
        flex: 1;
    }

    .c11, .c13, .c21, .c23 {
        display: none;
    }

    .c12 {
        background-color: var(--article-bg-color);
    }

    .c12, .c22 {
        position: relative;
        width: 100%;
        grid-area: unset;
    }

    .c12 {
        padding: 0 1rem;
    }

    article, .reviewer {
        padding: 1rem;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    .top-nav {
        ul {
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em;
        }

        .right {
            margin-left: 0;
        }
    }
}

@media (max-width: 80ch) {
    html {
        font-size: 14px;
    }

    article {
        padding: 0;
        padding-left: 0.5ch;
        padding-right: 0.5ch;
        border: none;
    }

    nav#table-of-contents {
        display: none;
    }
}

@media (min-width: 80ch) and (max-width: 900px) {
    html {
        font-size: 14px;
    }

    nav#table-of-contents {
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    html {
        font-size: 14px;
    }

    nav#table-of-contents {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    nav#table-of-contents {
        font-size: 16px;
    }
}
